---
layout: page
title: Publications
---

{% for post in site.posts %}
  {% if post.categories contains "research" %}

    <!-- Blog Article -->
    <div class="post-full">
      <article class="blog-article clearfix">

        <!-- Article Header -->
        <header class="article-header">
          <div >
            <h4 class="title"><a href="{{ post.paperurl }}">{{ post.title }}</a></h4>
            <h5 class="category">{{ post.authors}}</h5>
            <h5 class="category" style="margin-bottom: 10px;"><em><a href="{{ post.paperurl }}">{{ post.journal }}</a></em> ({{ post.year}})</h5>
            <h5 class="category" >{% if post.codeurl != null %}<a href="{{ post.codeurl }}">[code]</a>{% endif %}{% if post.videosummary != null %}<a href="{{ post.videosummary }}"> [video summary]</a>{% endif %}{% if post.blogpost != null %}<a href="{{ post.blogpost }}"> [blog post]</a>{% endif %}</h5>
          </div>
        </header>

      </article>
    </div>
  {% endif %}
{% endfor %}
