<!-- About Section -->
<section class="site-section about-section next-section-indicator" id="about">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.funding-title }}</h2>
        <hr class="normal">
      </header>


    </div>

    <div class="about-images">
        <img src="{{ 'images/news/ERC.png'  | relative_url }}"  alt="Left image">
        <img src="{{ 'images/news/WWTF.png' | relative_url }}"  alt="Right image">
    </div>

  </div>
</section>
