<!-- Team Section -->
<section class="site-section team-section section-focus" id="team">
  <div class="container">

    <!-- Section Heading -->
    <div class="row text-center">
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2>{{ site.team-title }}</h2>
        <hr class="normal">
      </header>

      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p>{{ site.team-description }}</p>
      </div>
    </div>

    <!-- Team Members -->
    <div class="team-members-container">
      {% for member in site.team %}
        <div class="team-member">
          <div class="img-wrapper">
            {% if member.linkname != null %}
              <a href="{{ site.baseurl }}/team/{{ member.linkname }}">
                <img src="{{ site.baseurl }}/images/avatars/{{ member.avatar }}" alt="{{ member.name }}">
              </a>
            {% else %}
              <img src="{{ site.baseurl }}/images/avatars/{{ member.avatar }}" alt="{{ member.name }}">
            {% endif %}
          </div>
          <div class="team-member-content">
            <h3 class="name">{{ member.name }}</h3>
            <h4 class="tagline">{{ member.tagline }}</h4>
            <div class="social-icons">
              <ul class="icons">
                {% if member.email %}
                  <li><a href="mailto:{{ member.email }}"><i class="fa-solid fa-envelope"></i></a></li>
                {% endif %}
                {% if member.twitter %}
                  <li><a href="{{ member.twitter }}" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                {% endif %}
                {% if member.scholar %}
                  <li><a href="{{ member.scholar }}" target="_blank"><i class="fa-brands fa-google-scholar"></i></a></li>
                {% endif %}
                {% if member.github %}
                  <li><a href="{{ member.github }}" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Alumni Section -->
    <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
      <hr class="normal">
    </header>

    <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
      <p><b>Alumni</b></p>
      {% for member in site.alumni %}
        <p>{{ member.name }}</p>
      {% endfor %}
    </div>

  </div>
</section>
