<!-- Site Footer -->
<footer class="site-footer" id="footer">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-push-3 footer-info text-center">

        <div class="social-icons">
          <ul class="icons">
            <!-- <li><a href="{{ site.youtube }}" target="_blank"><i class="fi flaticon-youtube"></i></a></li> -->
            <li><a href="{{ site.twitter }}" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a></li>
            <li><a href="{{ site.scholar }}" target="_blank"><i class="fa-brands fa-google-scholar"></i></a></li>
          </ul>
        </div>

      </div>

    </div>

  </div>
</footer>

<!-- Go To Top Button -->
<a href="#home" class="go-to-top-button"><i class="pe-7s-angle-up"></i></a>
