---
layout: page
---

{% for post in page.posts %}

  <!-- Blog Article -->
  <div class="post-full">
    <article class="blog-article clearfix">

      <!-- Article Header -->
      <header class="article-header">
        <div class="article-title">
          <h4 class="title">{{ post.title }}</a></h4>
          <h5 class="category">{{ post.authors}}, {{ post.journal}}, ({{ post.year}})</h5>
        </div>
      </header>

      <!-- Article Content -->
      <div class="article-content">
        <div class="show-more">
          <a href="{{ site.baseurl }}{{ post.url }}" class="button">Read More</a>
        </div>
      </div>

    </article>
  </div>

{% endfor %}
