---
layout: page
---

<!-- Blog Article -->
<div class="post-full">
  <article class="blog-article blog-single-page clearfix">

    <!-- Article Header -->
    <header class="article-header">
      <div class="article-title">
        <h2 >{{ page.title }}</h2>
        <h4 >{% if page.authors != null %}{{ page.authors}},{% endif %} {% if page.journal != null %}{{ page.journal}},{% endif %} {% if page.year != null %}({{ page.year}}){% endif %}</h4>
      </div>
    </header>

    <!-- Article Content -->
    <div class="article-content">
      {{ page.content }}
    </div>

  </article>
</div>
